<h1>Editing Addcustomer</h1>

<%= render 'form', addcustomer: @addcustomer %>

<a class="btn btn-success" href="<%= addcustomer_path(@addcustomer) %>">Show</a> |
<a class="btn btn-warning" href="<%= addcustomers_path %>">Back</a>
